@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: linear-gradient(to right,#DAFDBA, #9AEBA3);
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #75b37c94;
    width: 600px;
    padding: 15px;
    margin: auto;
}

h1 {
    background-color: #0d4a64;
    border-radius: 10px;
    color: #45C4B0;
    text-align: center;
    text-shadow: 1px 1px 2px #75b37cb7
}

h2 {
    color: #13678A;
}

p {
    text-align: justify;
}